@{
    Layout = "~/Views/Shared/U_Layout.cshtml";
}


@{ ViewBag.Title = "Home"; }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Sign-In with Microsoft </title>
</head>
<body>
    @if (!Request.IsAuthenticated)
    {<!-- If the user is not authenticated, display the sign-in button -->
        <div style="text-align: center;">
            <div class="w3-container">
                <h2>Sign In</h2>
                <br /><br />
                <div class="w3-panel w3-grey w3-round-xlarge">
                    <p>
                        <br /><br />
                        <a href="@Url.Action("SignIn", "Todos")" style="text-decoration: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
                            <style type="text/css">
                                .fil0:hover {
                                    fill: #4B4B4B;
                                }

                                .fnt0 {
                                    font-size: 260px;
                                    font-family: 'Segoe UI Semibold', 'Segoe UI';
                                    text-decoration: none;
                                }
</style>
                            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />































































































































































































































































                            <rect x="150" y="129" width="122" height="122" fill="#F35325" />































































































































































































































































                            <rect x="284" y="129" width="122" height="122" fill="#81BC06" />































































































































































































































































                            <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />































































































































































































































































                            <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />































































































































































































































































                            <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
                    </svg>
                        </a>
                        <br /><br />
                        <h3>OR</h3>
                        <br /><br />
                        <a href="@Url.Action("Index", "Todos")" style="text-decoration: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
                            <style type="text/css">
                                .fil0:hover {
                                    fill: #4B4B4B;
                                }

                                .fnt0 {
                                    font-size: 260px;
                                    font-family: 'Segoe UI Semibold', 'Segoe UI';
                                    text-decoration: none;
                                }
</style>
                            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />
                            <text x="470" y="357" fill="white" class="fnt0">Continue as Guest</text>
                    </svg>
                        </a>
                        <br /><br />
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        if (@System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value != null)
        {
            <h2><span><br />Hello @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value,</span></h2>}
        else
        { @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("username").Value}

    <br /><br />
    @Html.ActionLink("Create new", "Create", "Todos")
    <br /><br />
    @Html.ActionLink("Blood Requested List", "BRequest", "Todos")
    <br /><br />
    @Html.ActionLink("List all", "Index", "Todos")
    <br /><br />
    @Html.ActionLink("Your List", "YourList", "Todos")
    <br /><br />
    @Html.ActionLink("Pending Requests", "Pending", "Todos")
    <br /><br />
    @Html.ActionLink("Requested/Approved List", "Requested", "Todos")
    <br /><br />
    @Html.ActionLink("Delivery List", "Delivery", "Todos")
    <br /><br />
    @Html.ActionLink("Find the match", "Filters")
    <br /><br />
    @Html.ActionLink("See Your Claims", "UIndex", "Todos")
    <br /><br />
    @Html.ActionLink("Sign out", "SignOut", "Todos")
}
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }
</body>
</html>
